<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>components</title>
<link href="../images/logo-icon.svg" rel="icon" type="image/svg">
    <script>var pathToRoot = "../";</script>    <script>const storage = localStorage.getItem("dokka-dark-mode")
const savedDarkMode = storage ? JSON.parse(storage) : false
if(savedDarkMode === true){
    document.getElementsByTagName("html")[0].classList.add("theme-dark")
}</script>
<script type="text/javascript" src="../scripts/sourceset_dependencies.js" async></script>
<link href="../styles/style.css" rel="Stylesheet">
<link href="../styles/jetbrains-mono.css" rel="Stylesheet">
<link href="../styles/main.css" rel="Stylesheet">
<link href="../styles/prism.css" rel="Stylesheet">
<link href="../styles/logo-styles.css" rel="Stylesheet">
<script type="text/javascript" src="../scripts/clipboard.js" async></script>
<script type="text/javascript" src="../scripts/navigation-loader.js" async></script>
<script type="text/javascript" src="../scripts/platform-content-handler.js" async></script>
<script type="text/javascript" src="../scripts/main.js" defer></script>
<script type="text/javascript" src="../scripts/prism.js" async></script></head>
<body>
<div class="navigation-wrapper" id="navigation-wrapper">
    <div id="leftToggler"><span class="icon-toggler"></span></div>
    <div class="library-name">
<a href="../index.html">
<span>fritz2</span>            </a>    </div>
    <div>
    </div>
    <div class="pull-right d-flex">
            <div class="filter-section" id="filter-section">
                    <button class="platform-tag platform-selector common-like" data-active="" data-filter=":components:dokkaHtmlPartial/commonMain">common</button>
                    <button class="platform-tag platform-selector js-like" data-active="" data-filter=":components:dokkaHtmlPartial/jsMain">js</button>
            </div>
        <button id="theme-toggle-button"><span id="theme-toggle"></span></button>
        <div id="searchBar"></div>
    </div>
</div>
<div id="container">
    <div id="leftColumn">
        <div id="sideMenu"></div>
    </div>
    <div id="main">
<div class="main-content" id="content" pageids="components::////PointingToDeclaration//227175950">
  <div class="breadcrumbs"></div>
  <div class="cover ">
    <h1 class="cover"><span><span>components</span></span></h1>
  </div>
  <h2 class="">Packages</h2>
  <div class="table"><a data-name="-1857277314%2FPackages%2F1109352543" anchor-label="dev.fritz2.components" id="-1857277314%2FPackages%2F1109352543" data-filterable-set=":components:dokkaHtmlPartial/jsMain"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/jsMain" data-filterable-set=":components:dokkaHtmlPartial/jsMain">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="dev.fritz2.components/index.html">dev.fritz2.components</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-1857277314%2FPackages%2F1109352543"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag js-like">js</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="248468972%2FPackages%2F1109352543" anchor-label="dev.fritz2.components.alert" id="248468972%2FPackages%2F1109352543" data-filterable-set=":components:dokkaHtmlPartial/jsMain"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/jsMain" data-filterable-set=":components:dokkaHtmlPartial/jsMain">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="dev.fritz2.components.alert/index.html">dev.fritz2.components.alert</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="248468972%2FPackages%2F1109352543"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag js-like">js</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="-1252489152%2FPackages%2F1109352543" anchor-label="dev.fritz2.components.appFrame" id="-1252489152%2FPackages%2F1109352543" data-filterable-set=":components:dokkaHtmlPartial/jsMain"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/jsMain" data-filterable-set=":components:dokkaHtmlPartial/jsMain">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="dev.fritz2.components.appFrame/index.html">dev.fritz2.components.appFrame</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-1252489152%2FPackages%2F1109352543"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag js-like">js</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="2001175633%2FPackages%2F1109352543" anchor-label="dev.fritz2.components.buttons" id="2001175633%2FPackages%2F1109352543" data-filterable-set=":components:dokkaHtmlPartial/jsMain"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/jsMain" data-filterable-set=":components:dokkaHtmlPartial/jsMain">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="dev.fritz2.components.buttons/index.html">dev.fritz2.components.buttons</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="2001175633%2FPackages%2F1109352543"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag js-like">js</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="25191300%2FPackages%2F1109352543" anchor-label="dev.fritz2.components.card" id="25191300%2FPackages%2F1109352543" data-filterable-set=":components:dokkaHtmlPartial/jsMain"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/jsMain" data-filterable-set=":components:dokkaHtmlPartial/jsMain">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="dev.fritz2.components.card/index.html">dev.fritz2.components.card</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="25191300%2FPackages%2F1109352543"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag js-like">js</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="900087653%2FPackages%2F1109352543" anchor-label="dev.fritz2.components.checkboxes" id="900087653%2FPackages%2F1109352543" data-filterable-set=":components:dokkaHtmlPartial/jsMain"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/jsMain" data-filterable-set=":components:dokkaHtmlPartial/jsMain">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="dev.fritz2.components.checkboxes/index.html">dev.fritz2.components.checkboxes</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="900087653%2FPackages%2F1109352543"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag js-like">js</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="937159582%2FPackages%2F1561748797" anchor-label="dev.fritz2.components.data" id="937159582%2FPackages%2F1561748797" data-filterable-set=":components:dokkaHtmlPartial/commonMain"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/commonMain" data-filterable-set=":components:dokkaHtmlPartial/commonMain">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="dev.fritz2.components.data/index.html">dev.fritz2.components.data</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="937159582%2FPackages%2F1561748797"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag common-like">common</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="2004849140%2FPackages%2F1109352543" anchor-label="dev.fritz2.components.datatable" id="2004849140%2FPackages%2F1109352543" data-filterable-set=":components:dokkaHtmlPartial/jsMain"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/jsMain" data-filterable-set=":components:dokkaHtmlPartial/jsMain">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="dev.fritz2.components.datatable/index.html">dev.fritz2.components.datatable</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="2004849140%2FPackages%2F1109352543"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag js-like">js</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="-495948048%2FPackages%2F1109352543" anchor-label="dev.fritz2.components.file" id="-495948048%2FPackages%2F1109352543" data-filterable-set=":components:dokkaHtmlPartial/jsMain"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/jsMain" data-filterable-set=":components:dokkaHtmlPartial/jsMain">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="dev.fritz2.components.file/index.html">dev.fritz2.components.file</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-495948048%2FPackages%2F1109352543"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag js-like">js</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="-1526094081%2FPackages%2F1109352543" anchor-label="dev.fritz2.components.forms" id="-1526094081%2FPackages%2F1109352543" data-filterable-set=":components:dokkaHtmlPartial/jsMain"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/jsMain" data-filterable-set=":components:dokkaHtmlPartial/jsMain">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="dev.fritz2.components.forms/index.html">dev.fritz2.components.forms</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-1526094081%2FPackages%2F1109352543"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag js-like">js</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="-510152018%2FPackages%2F1109352543" anchor-label="dev.fritz2.components.forms.control" id="-510152018%2FPackages%2F1109352543" data-filterable-set=":components:dokkaHtmlPartial/jsMain"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/jsMain" data-filterable-set=":components:dokkaHtmlPartial/jsMain">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="dev.fritz2.components.forms.control/index.html">dev.fritz2.components.forms.control</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-510152018%2FPackages%2F1109352543"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag js-like">js</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="-1485300464%2FPackages%2F1109352543" anchor-label="dev.fritz2.components.forms.group" id="-1485300464%2FPackages%2F1109352543" data-filterable-set=":components:dokkaHtmlPartial/jsMain"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/jsMain" data-filterable-set=":components:dokkaHtmlPartial/jsMain">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="dev.fritz2.components.forms.group/index.html">dev.fritz2.components.forms.group</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-1485300464%2FPackages%2F1109352543"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag js-like">js</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="-82381008%2FPackages%2F1109352543" anchor-label="dev.fritz2.components.foundations" id="-82381008%2FPackages%2F1109352543" data-filterable-set=":components:dokkaHtmlPartial/jsMain"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/jsMain" data-filterable-set=":components:dokkaHtmlPartial/jsMain">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="dev.fritz2.components.foundations/index.html">dev.fritz2.components.foundations</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-82381008%2FPackages%2F1109352543"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag js-like">js</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="-1025260627%2FPackages%2F1109352543" anchor-label="dev.fritz2.components.icon" id="-1025260627%2FPackages%2F1109352543" data-filterable-set=":components:dokkaHtmlPartial/jsMain"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/jsMain" data-filterable-set=":components:dokkaHtmlPartial/jsMain">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="dev.fritz2.components.icon/index.html">dev.fritz2.components.icon</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-1025260627%2FPackages%2F1109352543"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag js-like">js</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="1995983428%2FPackages%2F1109352543" anchor-label="dev.fritz2.components.inputField" id="1995983428%2FPackages%2F1109352543" data-filterable-set=":components:dokkaHtmlPartial/jsMain"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/jsMain" data-filterable-set=":components:dokkaHtmlPartial/jsMain">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="dev.fritz2.components.inputField/index.html">dev.fritz2.components.inputField</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="1995983428%2FPackages%2F1109352543"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag js-like">js</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="-1197692653%2FPackages%2F1109352543" anchor-label="dev.fritz2.components.menu" id="-1197692653%2FPackages%2F1109352543" data-filterable-set=":components:dokkaHtmlPartial/jsMain"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/jsMain" data-filterable-set=":components:dokkaHtmlPartial/jsMain">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="dev.fritz2.components.menu/index.html">dev.fritz2.components.menu</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-1197692653%2FPackages%2F1109352543"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag js-like">js</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="436524029%2FPackages%2F1109352543" anchor-label="dev.fritz2.components.modal" id="436524029%2FPackages%2F1109352543" data-filterable-set=":components:dokkaHtmlPartial/jsMain"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/jsMain" data-filterable-set=":components:dokkaHtmlPartial/jsMain">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="dev.fritz2.components.modal/index.html">dev.fritz2.components.modal</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="436524029%2FPackages%2F1109352543"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag js-like">js</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="1513554460%2FPackages%2F1109352543" anchor-label="dev.fritz2.components.paper" id="1513554460%2FPackages%2F1109352543" data-filterable-set=":components:dokkaHtmlPartial/jsMain"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/jsMain" data-filterable-set=":components:dokkaHtmlPartial/jsMain">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="dev.fritz2.components.paper/index.html">dev.fritz2.components.paper</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="1513554460%2FPackages%2F1109352543"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag js-like">js</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="-32065220%2FPackages%2F1109352543" anchor-label="dev.fritz2.components.popup" id="-32065220%2FPackages%2F1109352543" data-filterable-set=":components:dokkaHtmlPartial/jsMain"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/jsMain" data-filterable-set=":components:dokkaHtmlPartial/jsMain">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="dev.fritz2.components.popup/index.html">dev.fritz2.components.popup</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-32065220%2FPackages%2F1109352543"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag js-like">js</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="2125909452%2FPackages%2F1109352543" anchor-label="dev.fritz2.components.radios" id="2125909452%2FPackages%2F1109352543" data-filterable-set=":components:dokkaHtmlPartial/jsMain"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/jsMain" data-filterable-set=":components:dokkaHtmlPartial/jsMain">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="dev.fritz2.components.radios/index.html">dev.fritz2.components.radios</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="2125909452%2FPackages%2F1109352543"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag js-like">js</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="-1378882322%2FPackages%2F1109352543" anchor-label="dev.fritz2.components.selectField" id="-1378882322%2FPackages%2F1109352543" data-filterable-set=":components:dokkaHtmlPartial/jsMain"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/jsMain" data-filterable-set=":components:dokkaHtmlPartial/jsMain">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="dev.fritz2.components.selectField/index.html">dev.fritz2.components.selectField</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-1378882322%2FPackages%2F1109352543"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag js-like">js</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="-2143538795%2FPackages%2F1109352543" anchor-label="dev.fritz2.components.slider" id="-2143538795%2FPackages%2F1109352543" data-filterable-set=":components:dokkaHtmlPartial/jsMain"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/jsMain" data-filterable-set=":components:dokkaHtmlPartial/jsMain">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="dev.fritz2.components.slider/index.html">dev.fritz2.components.slider</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-2143538795%2FPackages%2F1109352543"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag js-like">js</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="1705175273%2FPackages%2F1109352543" anchor-label="dev.fritz2.components.spinner" id="1705175273%2FPackages%2F1109352543" data-filterable-set=":components:dokkaHtmlPartial/jsMain"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/jsMain" data-filterable-set=":components:dokkaHtmlPartial/jsMain">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="dev.fritz2.components.spinner/index.html">dev.fritz2.components.spinner</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="1705175273%2FPackages%2F1109352543"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag js-like">js</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="-687575265%2FPackages%2F1109352543" anchor-label="dev.fritz2.components.stacks" id="-687575265%2FPackages%2F1109352543" data-filterable-set=":components:dokkaHtmlPartial/jsMain"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/jsMain" data-filterable-set=":components:dokkaHtmlPartial/jsMain">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="dev.fritz2.components.stacks/index.html">dev.fritz2.components.stacks</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-687575265%2FPackages%2F1109352543"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag js-like">js</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="-596746712%2FPackages%2F1109352543" anchor-label="dev.fritz2.components.switch" id="-596746712%2FPackages%2F1109352543" data-filterable-set=":components:dokkaHtmlPartial/jsMain"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/jsMain" data-filterable-set=":components:dokkaHtmlPartial/jsMain">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="dev.fritz2.components.switch/index.html">dev.fritz2.components.switch</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-596746712%2FPackages%2F1109352543"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag js-like">js</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="550454830%2FPackages%2F1109352543" anchor-label="dev.fritz2.components.textarea" id="550454830%2FPackages%2F1109352543" data-filterable-set=":components:dokkaHtmlPartial/jsMain"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/jsMain" data-filterable-set=":components:dokkaHtmlPartial/jsMain">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="dev.fritz2.components.textarea/index.html">dev.fritz2.components.textarea</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="550454830%2FPackages%2F1109352543"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag js-like">js</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="-374494473%2FPackages%2F1109352543" anchor-label="dev.fritz2.components.toast" id="-374494473%2FPackages%2F1109352543" data-filterable-set=":components:dokkaHtmlPartial/jsMain"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/jsMain" data-filterable-set=":components:dokkaHtmlPartial/jsMain">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="dev.fritz2.components.toast/index.html">dev.fritz2.components.toast</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-374494473%2FPackages%2F1109352543"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag js-like">js</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="535238227%2FPackages%2F1109352543" anchor-label="dev.fritz2.components.tooltip" id="535238227%2FPackages%2F1109352543" data-filterable-set=":components:dokkaHtmlPartial/jsMain"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/jsMain" data-filterable-set=":components:dokkaHtmlPartial/jsMain">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="dev.fritz2.components.tooltip/index.html">dev.fritz2.components.tooltip</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="535238227%2FPackages%2F1109352543"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag js-like">js</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="-1922819977%2FPackages%2F1109352543" anchor-label="dev.fritz2.components.typeAhead" id="-1922819977%2FPackages%2F1109352543" data-filterable-set=":components:dokkaHtmlPartial/jsMain"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/jsMain" data-filterable-set=":components:dokkaHtmlPartial/jsMain">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="dev.fritz2.components.typeAhead/index.html">dev.fritz2.components.typeAhead</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-1922819977%2FPackages%2F1109352543"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag js-like">js</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="-1201513939%2FPackages%2F227175950" anchor-label="dev.fritz2.components.validation" id="-1201513939%2FPackages%2F227175950" data-filterable-set=":components:dokkaHtmlPartial/commonMain :components:dokkaHtmlPartial/jsMain"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/commonMain :components:dokkaHtmlPartial/jsMain" data-filterable-set=":components:dokkaHtmlPartial/commonMain :components:dokkaHtmlPartial/jsMain">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="dev.fritz2.components.validation/index.html">dev.fritz2.components.validation</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-1201513939%2FPackages%2F227175950"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag common-like">common</div>
              <div class="platform-tag js-like">js</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
  </div>
</div>
        <div class="footer"><span class="go-to-top-icon"><a href="#content" id="go-to-top-link"></a></span><span>© 2022 Copyright</span><span class="pull-right"><span>Generated by </span><a href="https://github.com/Kotlin/dokka"><span>dokka</span><span class="padded-icon"></span></a></span>
        </div>
    </div>
</div>

</body></html>

